extends layout

block code
  script(src='vendor/particles.js/particles.js')
  script(src='es5/briefing-particles.js')
  style(type='text/css').
    body.journey {
      background: url('/images/space.jpg');
    }

block content
  #splash-particles.particles

  .row
    .two.columns &nbsp;
    form#splash-jumbotron.eight.columns.splash(action="" method="post")
      h1 Hello again, agent

      input#passcode(name="passcode", type="text", placeholder="Passcode")

      if loginFailed
        p(style="color: orange") Hmm.. the passcode seems to be invalid

      div Please enter the recovered admin password
